:root {
    --morse-size: 50px;
}

* {
    box-sizing: border-box;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

[class*="col-"] {
    float: left;
}

.col-1  {width: 8.33%;}
.col-2  {width: 16.66%;}
.col-3  {width: 25%;}
.col-4  {width: 33.33%;}
.col-5  {width: 41.66%;}
.col-6  {width: 50%;}
.col-7  {width: 58.33%;}
.col-8  {width: 66.66%;}
.col-9  {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

.dit, .dah {
    height: var(--morse-size);
    border-radius: calc(var(--morse-size) / 2);
    border-width: 5px;
    border-style: solid;
    border-color: #FF4D5A;
    float:left;
}

.dit {
    width: var(--morse-size);
}

.dah {
    width: calc(var(--morse-size) * 3.5);
}
