:root {
    --bg-color: #202020;
    --accent-color: #FF4D5A;
    --morse-size: 50px;
}

* {
    box-sizing: border-box;
}

body {
    font-family: 'Brush Script MT', cursive;
    color: white;
    background-color: var(--bg-color);
    margin: 0px;
}

.main {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-row {
    display: flex;
    align-items: center;
}

.dit, .dah {
    height: var(--morse-size);
    border-radius: calc(var(--morse-size) / 2);
    border-width: 6px;
    border-style: solid;
    border-color: var(--accent-color);
    margin-right: 16px;
}

.dit {
    width: var(--morse-size);
}

.dah {
    width: calc(var(--morse-size) * 3.5);
}

.name {
    font-size: 72px;
    line-height: 50px;
    margin:0px 0px 8px 0px;
}

.description {
    font-size: 32px;
    line-height: 0px;
    margin:0px 16px 8px 0px;
}

.l-color {
    color: var(--accent-color);
}
