/*
--bg-color: #202020;
--accent-color: #FF4D5A;
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Nunito', sans-serif;
    color: white;
    background-color: #202020;
}

header {
    /* width: 100vw; */
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-bg {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}

.first-bg, .second-bg {
    position: absolute;
    border-radius: 40px;
}

.first-bg{
    z-index: -3;
    width: 90vw;
    height: 90vh;
    transform: skew(8deg);
    background-color: #FF4D5A;
}

.second-bg {
    z-index: -2;
    width: 92vw;
    height: 84vh;
    box-shadow: 0 0 8px 4px rgba(0, 0, 0, .2);
    background-color: #202020;
}

.bg-title {
    position: absolute;
    z-index: -1;
    font-size: 17vw;
    color: #1d1d1d;
}

.main {
    width: 88vw;
    /* height: 100vh; */
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.flex-row {
    display: flex;
    align-items: center;
}

.dit, .dah {
    height: 50px;
    border-radius: 25px;
    border-width: 6px;
    border-style: solid;
    border-color:  #FF4D5A;
    margin-right: 16px;
}

.dit {
    width: 50px;
}

.dah {
    width: 175px
}

.name {
    font-size: 72px;
    line-height: 50px;
    margin:0px 0px 8px 0px;
}

.description {
    font-size: 32px;
    line-height: 0px;
    margin:0px 16px 8px 0px;
}

.description span{
    color:  #FF4D5A;
}
